{% include 'admin/alert.twig' with { isSuccess, message } %}
<img src="{{ logo }}" style="max-width: 25%"/>
<hr/>
<div class="wrap">
	<h2>{{ function('cws5baddiTranslation', 'CodesWholesale - Account Details') }}</h2>
</div>