{% include 'admin/partials/header.twig' with { isSuccess, message, title: 'CodesWholesale - Import Products' } %}
<div class="wrap">
    <table class="form-table" role="presentation">
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
{% include 'admin/partials/footer.twig' with { isApiConnected } %}