{% include 'admin/partials/header.twig' with { isSuccess, message, title: 'Webhook Endpoint' } %}
<div class="wrap">
	<table class="form-table cws5baddi shadow-card" role="presentation">
		<tbody>
			<tr>
				<th scope="row" style="padding: 1rem;">
					<label>{{ 'URL'|translate }}</label>
				</th>
				<td style="padding: 1rem;">
                    <input style="min-width: 60%;" type="url" value="{{ urls.rest ~ namespace ~ '/v1/webhook' }}" id="cws5baddi_webhook_endpoint" aria-describedby="cws5baddi_webhook_endpoint_description" readonly/>
                    <p class="description" id="cws5baddi_webhook_endpoint_description">
                        {{ 'Copy & set the webhook URL under API tab on CodesWholesale.'|translate }}
                    </p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% include 'admin/partials/footer.twig' with { isApiConnected } %}
